%flexItemCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin paintSquare($size) {
    @extend %flexItemCenter;
    width: $size;
    height: $size;
    min-width: 30px;
    min-height: 30px;
}

.brand__container-square {
    @include paintSquare(45px);
    background-color: $white;
}

.brand__logo {
    display: inline-flex;
}