.container__big{
    width: 100%;
    padding: 150px 310px;
    // background-color: yellow;
}

.container__small{
    width: 100%;
    padding: 145px 310px;
    // background-color: yellow;
}

.container__callout{
    width: 100%;
    padding: 121px 230px;
}