.font__dinp {
    font-family: 'DINP-R';
    font-style: normal;
}

.font__cardo {
    font-family: 'Cardo';
    font-style: normal;
}

.font__inter {
    font-family: 'Inter';
    font-style: normal;
}

.font__size-large {
    font-size: 50px;
}

.font__blue{
    color: $blue;
}