/**
 * Fonts
*/

@font-face {
  font-family: 'DINP-R';
  src: url("../assets/fonts/DINPro-Regular.eot?") format("eot"),
  url("../assets/fonts/DINPro-Regular.woff") format("woff"),
  url("../assets/fonts/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url("../assets/fonts/Cardo-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
}