/**
 * Variables
*/

/* Typography */
/* Default font-size */
$default-fs: 14px;

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$lightGray:#DCE1E9;
$white: #fff;
$light-gray: #F6F8FC;

$blue: #1B3764;
$lightBlue:#B4C7E7;
$yellow: #FFCA42;
$gray: #969AA0;

/* Components */
$paddingValuePage:310px;
$squareSize:45px;
