//Adding your page
svg {
    padding: 10px 100px;
}

%fontcardostyle {
    font-family: Cardo;
    font-weight: 600;
    font-size: 45px;
}

%fontinterstyle {
    font-family: Inter;
    font-size: 19px;
    color: $white;
}

%flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-design {
    max-width: 550px;
    position: relative;

    &::after {
        content: '';
        width: 550px;
        height: 650px;
        border: 15px solid $yellow;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: -1;
    }
}

.colorclick {
    background-color: $yellow !important;
}

.colorhover {
    background-color: $light-blue ;
}

.colorbasic {
    background-color: $gray;
}

.home__infor-details {
    .frame {
        width: 114px;
        height: 63px;
        @extend %flexcenter;

        .circle {
            height: 16px;
            width: 16px;
            background-color: $yellow;
            border-radius: 50%;
            margin-right: 13px
        }

        h4 {
            @extend %fontcardostyle;
            font-size: 24px;
        }
    }

    p {
        margin-left: 32px;
    }
}

.home__heading {
    height: 1100px;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        @extend %fontinterstyle;
        color: $light-blue;
    }

    .container {
        background-color: $blue;
        width: 1300px;
    }

    &__introductions {
        width: 1300px;
        color: $white;
        @extend %flexcenter;
        justify-content: space-between;
        margin: 30px 0 115px 0;

        &-content {
            width: 614px;
            height: 600px;
            @extend %flexcenter;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        .wellcome-line {
            display: flex;
            align-items: center;

            .line {
                height: 1px;
                width: 34px;
                background-color: $yellow;
                margin-right: 15px;
            }

            p {
                color: $white;
                font-family: Cardo;
                font-style: italic;
                font-size: 24px
            }
        }

        h1 {
            @extend %fontcardostyle;
            font-size: 65px;
        }

        .cta {
            width: 414px;
            height: 65px;
            @extend %flexcenter;
            justify-content: space-between;

            a {
                @extend %fontcardostyle;
                font-size: 19px;

                .line {
                    width: 100%;
                    height: 1px;
                    background-color: white;
                }
            }
        }

        .infor {
            width: 580px;
            @extend %flexcenter;
            justify-content: space-between;
        }

        img {
            margin-top: 20px;
        }
    }
}

.home__body {
    p {
        @extend %fontinterstyle;
        color: $gray;
        line-height: 30px
    }

    h3 {
        @extend %fontcardostyle;
        color: $blue;
    }

    h4 {
        @extend %fontcardostyle;
        font-size: 24px;
        color: $blue;
    }

    .homepage__header-content {
        @extend %flexcenter;
        flex-direction: column;

        .line-w {
            width: 55px;
            height: 2px;
            background-color: $yellow;
            margin-top: 22px;
        }
    }

    .review-card {

        h4,
        h5 {
            color: $white;
        }

        h5 {
            @extend %fontcardostyle;
            font-size: 22px;
            margin-bottom: 12px;
        }

        width: 370px;
        height: 309px;
        @extend %flexcenter;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: $blue;
        padding: 36px 31px;

        &__header {
            @extend %flexcenter;

            &-name {
                margin-left: 20px;

                .showrating {
                    width: 76px;
                    display: flex;
                    justify-content: space-between;

                    .rating-circle:last-child {
                        background-color: $blue;
                        border: 1px solid $yellow;
                    }
                }
            }
        }
    }

    .rating-circle {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $yellow;
    }

    &__books {
        @extend %flexcenter;
        height: 533px;
        flex-direction: column;
        justify-content: space-between;
        margin: 141px 0px;

        p {
            color: $gray;
        }

        .introduction {
            height: 76px;
            margin-top: 0px;
        }

        .books-products {
            @extend %flexcenter;
            justify-content: space-between;
            margin: 0 auto;
            width: 1400px;

            .home__card {
                @extend %flexcenter;
                width: 670px;
                height: 400px;

                img {
                    margin-top: 50px;
                }

                &__content {
                    width: 350px;
                    height: 333px;
                    @extend %flexcenter;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: flex-start;

                    h4 {
                        color: $blue;
                    }
                }

                .product__infor {
                    display: flex;
                }
            }
        }
    }

    &__author {
        background-color: #F4F8FF;
        padding: 150px 310px;
        position: relative;
        z-index: -2;

        &-container {
            @extend %flexcenter;
            justify-content: space-between;
            width: 1300px;
            height: 990px;
            margin: 0 auto;
        }

        &__content {
            width: 568px;
            height: 568px;
            position: relative;
            @extend %flexcenter;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .line-w {
                height: 1px;
                width: 55px;
                background-color: $yellow;
                margin: 22px 0;
            }

            .line-h {
                height: 88px;
                width: 1px;
                background-color: $yellow;

            }

            .counter {
                width: 590px;
                @extend %flexcenter;
                justify-content: space-between;

                &__style {
                    @extend %flexcenter;

                    &__content {
                        margin-right: 32px;
                    }
                }
            }

            .qrcode {
                width: 477px;
                @extend %flexcenter;
                justify-content: space-between;
                background-color: $blue;
                padding: 15px 18px;

                p {
                    color: $light-blue;
                }

                &__content {
                    height: 101px;
                    @extend %flexcenter;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;

                    h4 {
                        @extend %fontcardostyle;
                        font-size: 24px;
                        color: $yellow;
                    }
                }
            }
        }
    }

    &__trusted {
        padding: 205px 0;

        h4 {
            @extend %fontcardostyle;
            font-size: 24px;
            color: $blue;
            margin-bottom: 9px
        }

        .trusted-container {
            @extend %flexcenter;
            flex-direction: column;
            justify-content: space-between;
            height: 335px;

            .trusted__body {
                width: 1300px;
                @extend %flexcenter;
                justify-content: space-between;


                &__card {
                    width: calc((100% - 291px)/4);
                    height: 209px;
                    @extend %flexcenter;
                    flex-direction: column;

                    img {
                        max-width: 189px;
                    }

                    .card__content {
                        text-align: center;
                        margin-top: auto;
                    }
                }
            }
        }
    }

    &__cta {
        @extend %flexcenter;
        background-color: $blue;
        padding: 37px 0;

        p {
            color: $light-blue
        }

        .cta-container {
            @extend %flexcenter;

            .cta__content {
                width: 567px;
                height: 262px;
                @extend %flexcenter;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                .homepage__header-content {
                    align-items: flex-start;

                    h3 {
                        color: $white;
                    }
                }

                .btnbasic {
                    color: $white ;
                }
            }
        }
    }

    &__stepbystep {
        padding: 145px 0px;

        .stepbystep-container {
            @extend %flexcenter;
            flex-direction: column;

            .stepbystep__body {
                width: 1260px;
                @extend %flexcenter;
                justify-content: space-between;
                margin-top: 53px;

                .img-design {
                    right: 40px;
                    bottom: 20px;
                }

                &__content {
                    width: 610px;
                    @extend %flexcenter;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    &__card {
                        width: calc((100% - 30px)/2);
                        height: 299px;
                        background-color: #F4F8FF;
                        @extend %flexcenter;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 41px 33px;

                        &:nth-child(n+3) {
                            margin-top: 30px;
                        }

                        .card__oder {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            @extend %flexcenter;
                            background-color: $yellow;
                        }
                    }
                }
            }
        }
    }

    &__thechappters {
        background-color: #F4F8FF;
        padding: 150px 0px;

        .thechappters-container {
            @extend %flexcenter;
            flex-direction: column;
            justify-content: space-between;
            min-height: 1000px;

        }

        &__body {
            width: 1300px;
            @extend %flexcenter;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 50px 0 79px 0;

            .thechappters__card {
                width: calc((1300px - 40px)/2);
                height: 270px;
                padding: 45px 52px;
                @extend %flexcenter;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: $white;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.075);

                &:nth-child(n+3) {
                    margin-top: 40px
                }
            }

            .card__footer {
                width: 465px;
                @extend %flexcenter;
                justify-content: space-between;

                .home__infor-details {
                    @extend %flexcenter;

                    p {
                        margin-left: 5px;
                    }
                }
            }
        }

        &__footer {
            @extend %flexcenter;
            flex-direction: column;

            .thechappters__footer-note {
                text-align: center;
                margin-top: 32px;

                p {
                    font-size: 18px;
                }

                a {
                    text-decoration: underline;
                    color: $blue;
                }
            }
        }
    }

    &__reviews {
        @extend %flexcenter;
        padding: 141px 0px;

        .reviews-container {
            @extend %flexcenter;
            width: 1300px;
            justify-content: space-between;

        }

        &-introductions {
            width: 418px;
            height: 400px;
            @extend %flexcenter;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .homepage__header-content {
                align-items: flex-start;
            }

            .reviews-intro-footer {
                p {
                    color: $blue
                }

                .line__vote {
                    display: flex;
                    align-items: center;

                    .reviews__star {
                        display: flex;
                        width: 130px;
                        justify-content: space-between;

                        .circle__group {
                            width: 20px;
                            height: 20px;
                            display: flex;
                            clip-path: circle();
                            cursor: pointer;

                            .circle-left {
                                width: 10px;
                                height: 20px;
                                background-color: $gray;
                            }

                            .circle-right {
                                width: 10px;
                                height: 20px;
                                background-color: $gray;
                            }
                        }


                    }

                    p {
                        @extend %fontcardostyle;
                        font-size: 22px;
                        margin-left: 10px;
                    }
                }
            }





        }

        &-cards {
            @extend %flexcenter;

            .reviews-cards__left {
                .review-card:last-child {
                    margin-top: 31px;
                }
            }
        }

        .reviews-cards__right {
            margin-left: 30px;
        }
    }

    &__news {
        padding: 145px 0px;
        background-color: #F4F8FF;
        .news-container {
            @extend %flexcenter;
            flex-direction: column;
        }

        &-cards {
            width: 1300px;
            margin-top: 50px;
            @extend %flexcenter;
            justify-content: space-between;

            .card-blog {
                color: $blue;
                background-color: $white;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.075);

                .blog__footer {
                    p {
                        color: $blue;
                    }
                }
            }
        }
    }

    &__end {
        padding: 150px 0;
    }
}

.home__footer {
    height: 300px;
    background-color: $blue;
}