.body404page {
    position: relative;

    &__content {
        width: 589px;
        height: 521px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 303px;
        left: 50%;
        transform: translateX(-50%);

        img {
            margin: auto auto;
            width: 80%;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
        }

        &-text {
            text-align: center;
            font-size: 19px;
            color: $lightGray;
        }
    }
}

.footer {
    position: relative;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        color: $white;
        font-weight: 100;
    }
}