.block-products {
    width: 1299px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 150px auto;

    .card-store {
        width: calc((100% - 96px)/3);
    }

}

.store-product-guide {
    width: 1300px;
    background-color: $yellow;
    margin: 0px auto 150px auto;
    padding: 121px 230px;
    color: $blue;

    .introduction {
        margin-top: 0px;
        display: flex;
        height: 264px;
        width: 840px;
        justify-content: space-between;

        &__line {
            background-color: $blue;
        }

        h1 {
            font-weight: 700;
        }

        &__content {
            color: $blue;
        }

        &__cta-store {
            display: flex;

            input {
                width: 529px;
                margin-right: 11px;
                color: $gray;
                font-size: 17px;
            }
        }
    }
}

.store_footer {
    position: relative;
    height: 200px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
}