<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
</head>

<body>
    <div class="container__buttonpage">
        <table style="width:100%">
            <tr>
                <th> CLASS</th>
                <th>STYLE</th>
            </tr>

            <tr>
                <td>btnBasic btn-yellow-bgr</td>
                <td>
                    <div class="btnbasic btn-yellow-bgr">Click me</div>
                </td>
            </tr>

            <tr>
                <td>btnBasic btn-yellow-bgr btn-small-m-1</td>
                <td>
                    <div class="btnbasic btn-yellow-bgr btn-small-m-1">Order Today</div>
                </td>
            </tr>

            <tr>
                <td>btnbasic btn-yellow-bgr btn-small-l</td>
                <td>
                    <div class="btnbasic btn-yellow-bgr btn-small-l">Order Today</div>
                </td>
            </tr>

            <tr>
                <td>btnbasic btn-yellow-border btn-small-l</td>
                <td>
                    <div class="btnbasic btn-yellow-border btn-small-l">Order Today</div>
                </td>
            </tr>

            <tr>
                <td>btnbasic btn-yellow-bgr btn-medium-l</td>
                <td>
                    <div class="btnbasic btn-yellow-bgr btn-medium-l">Start a 15-Days Free Trial</div>
                </td>
            </tr>

            <tr>
                <td>btnbasic btn-yellow-bgr btn-medium-l</td>
                <td>
                    <div class="btnbasic btn-blue-bgr btn-medium-xl">Subscribe</div>
                </td>
            </tr>

            <tr>
                <td>btnbasic btn-yellow-bgr btn-large-m</td>
                <td>
                    <div class="btnbasic btn-yellow-bgr btn-large-m">Add to Cart</div>
                </td>
            </tr>

            <tr>
                <td>btnbasic btn-yellow-bgr btn-large-l</td>
                <td>
                    <div class="btnbasic btn-yellow-bgr btn-large-l">Continue to Checkout</div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>