<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <div class="card-store">
        <img class="card-store__img" src="./assets/images/Bookstore.svg" alt="">
       
        <div class="card-store__content">
            <div class="card-store__content__head">
                <p class="title">Atomic One’s</p>
                <p class="price">$23.89</p>
            </div>
            
            <p class="intro">Many variations of passages of Lorem Ipsum willing araise alteration in some form.</p>
            <p class="details">Printed Books</p>
        </div>

        <div class="card-store__footer">
            <button>Order Today</button>
        </div>
    </div>
</body>

</html>