<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <div class="authorBook">
            <img class="authorBook__img" src="../assets/images/Book.svg" alt="">
        <div class="authorBook__content">
            <p class="title">Atomic One’s</p>
            <p class="intro">Many variations of passages of Lorem Ipsum willing
                araise alteration in some form.</p>
            <div class="details">
                <ul class="details__list">
                    <li>Pages:
                        <span>586pages</span>
                    </li>
                    <li>Length:
                        <span>10 Hours</span>
                    </li>
                </ul>
            </div>

            <button>Order Today</button>
        </div>
    </div>
</body>

</html>