<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="freechapter">
        <div class="introduction">
            <h1 class="introduction_heading font__cardo font__size-large">Read a free chapter</h1>

            <div class="introduction__line"></div>

            <p class="introduction__content font__inter">Making this the first true value generator on the Internet. It
                of over 200 Latin words, combined with a handful.</p>

            <div class="introduction__cta-store font__inter">
                <input type="text" value="   Your Email id.... ">
                <div class="btnbasic btn-blue-bgr btn-medium-l">Subscribe</div>
            </div>
        </div>
    </div>

</body>
</html>