<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <div class="container-local">
        <header class="header-remake">
            <div class="header__brand">
                <div class="logo">
                    <a href="" class="brand__logo"> <img src="./assets/images/LogoMain.svg" alt=""></a>
                </div>

                <div class="socials">
                    <a href="" class="brand__container-square"> <img src="./assets/images/logoFace.svg" alt=""></a>
                    <a href="" class="brand__container-square"> <img src="./assets/images/logoTw.svg" alt=""></a>
                    <a href="" class="brand__container-square"> <img src="./assets/images/logoLink.svg" alt=""></a>
                </div>
            </div>

            <div class="header__navbutton">
                <ul class="header-nav">
                    <a href="">
                        <li>Home</li>
                    </a>

                    <li class="header-nav-li">
                        <select name="pages" id="">
                            <option value="">Pages</option>
                            <option value="Home">Home</option>
                            <option value="Cart">Cart</option>
                            <option value="Audi">About</option>
                        </select>
                    </li>

                    <a href="">
                        <li>About</li>
                    </a>
                    <a href="">
                        <li>Services</li>
                    </a>
                    <a href="">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>

            <div class="header__card">
                <a href="">
                    <img src="./assets/images/Cart.svg" alt="">
                </a>
            </div>

            <div class="btnbasic btn-yellow-bgr btn-small-m-1">Order Today</div>
        </header>
    </div>
</body>

</html>